*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#footer-child-parent{
    width: 97%;
    height: auto;
    margin: auto;
    border: 2px solid red;
    border-radius: 12px;
    margin-left: -5px;
}

#footer-child-parent:hover {
    transition: all 1s;
    transform: scale(1.05); 
    border-color: darkred;
    border: 3px solid; 
    background-color: rgb(34, 32, 32); 
}

.footer-icons-div{
    width: 40px;
    height: 40px;
    border: 2px solid red;
    border-radius: 50%;
    padding: 10px;
    animation: 4s footer-icon-ring linear infinite alternate;
}
@keyframes footer-icon-ring {
    0%{
       border: 2px solid red; 
    }
    30%{
        border: 2px solid black;
    }
    70%{
        border: 2px solid red;
    }
    100%{
        border: 2px solid black;
    }
}

/* Email-Section */

.footer-icons-div{
    width: 40px;
    height: 40px;
    border: 2px solid red;
    border-radius: 50%;
    padding: 10px;
    animation: 4s footer-icon-ring linear infinite alternate;
}
@keyframes footer-icon-ring {
    0%{
       border: 2px solid red; 
    }
    30%{
        border: 2px solid black;
    }
    70%{
        border: 2px solid red;
    }
    100%{
        border: 2px solid black;
    }
}
